*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    top: 10px;
    background: #d50808;
      bottom: 10px;
      position: relative;
      color: #fff;
      justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
}

.container{
    width: 47.25em;

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin: 1em auto;
      box-shadow: 0 0 0 0.62em #ffffff, 0 1.25em 3.12em rgba(83,66,15, 0.5);
      background-color: #ffffff;
      border-radius: 0.5em;
    margin-top: 120px;
}
.container p{
    font-size: 18px;
    color: black;
    text-align: center;
    font-weight: 800;
    font-family: cursive;
}
.santa{
    display: grid;
    width: 95%;
    height: 21.87em;
    position: relative;
    margin: 1em auto;
    place-items: center;
    background-color: #ffedb8;
    overflow: hidden;
    border-radius: 10px;

   
}

.santa img{
    position: relative;
    height: 20.75em;
 
   
}

.draggables{
    position: relative;
    padding: 1em 0;
    width: 47.25em;
    background-color: #d50808;
    border-radius: 20px;
}

.draggables div{
    position: relative;
}

[draggables]{
    cursor: move;
}

img{
    position: absolute;
    height: 80px; 
}

.eyes{
    height: 3.75em;
}

.mouths
{
    height: 3.12em;
    bottom: -20px;

}
.glasses{
    height: 2em;
    width: 2em;
}

.hats{
    height: 7em;
}

#eye-01,
#mouth-01{

    left: 0.93em;
}

#hat-01{

    left: 22em;
    height: 200px;
    bottom: 100px;
}

#glass-01{
    left: 2.37em;
    bottom: -100px;
}

#eye-02,
#mouth-02{
    left: 8.43em;
    
}

#hat-02{
    left: 37.5em;

    height: 150px;
    bottom: 20px;

}

#glass-02{
    left: 15.75em;
    height: 120px;
    bottom: -120px;
}

#eye-03{
    height: 75px;
}
#eye-03,
#mouth-03{

left: 15.93em;
}

#hat-03{
    left: 22.5em;
    height: 250px;
    bottom:-80px;
}

#eye-04,
#mouth-04{
    left: 23.43em;
}
#hat-04{
    left: 38em;
    bottom: 180px;
    height: 100px;
    width: 100px;
}

.credit{
    font-size: 22px;
    font-family: cursive;
    text-align: center;
      font-weight: 400;
      text-align: center;
    color: magenta;
    margin-left: 38px;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.heart{

    position: absolute;
    --c: #ff5c8a;
  width: 200px;
  aspect-ratio: 1;

  background:
   radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
   radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
   conic-gradient(from -45deg at 50% 84%,var(--c) 90deg,#0000 0) 

    bottom/100% 50% no-repeat;

    transform: rotate(5deg) ;
    animation:  float 5s infinite;
    bottom: -220px;
    z-index: -1;
  

}

.heart::before,
.heart::after{
    content: '';
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50%;


}

.heart::before{
    top: -25px;
    top: 0;
}

.heart::after{
    left: -25px;
    top: 0;
}
.background img{
    width: 100%;
    height: 100vh;
    z-index: -2;
}


@keyframes float{


    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.7;
    }

    100%{
        transform: translateY(-100vh) rotate(45deg);
        opacity: 0;
    }
}


.heart:nth-child(1){

left: 2%;
animation-delay: 0s;
transform: rotate(270deg);

}
.heart:nth-child(2){

    left: 5%;
    animation-delay: 2s;
    
}
.heart:nth-child(3){

    animation-delay: 1s;
    left: 65%;
    
}
.heart:nth-child(4){

    left: 85%;
    animation-delay: 6s;
}

.heart:nth-child(5){
    animation-delay: 1s;

    left: 10%;
    transform: rotate(10deg);
    
}

.heart:nth-child(6){
    left: 92%;

    animation-delay: 3s;
}

.heart:nth-child(7){
    left: 90%;
    animation-delay: 4s;
    transform: rotate(90deg);
}

.snowflakes{
    width: 100%;
    height:1200px;
    position: absolute;
    top: -90px;
    left: 0;
}

i,i:after, i:before{
    background: white;
}
i{
    display: inline-block;
    -webkit-animation: snowflakes 3s linear 2s 20;
    -moz-animation: snowflakes 3s linear 2s 20;
    position:relative;
}

i:after, i:before{
height: 100%;
width: 100%;
content: "";
position: absolute;
top: 0px;
left: 0;
-webkit-transform: rotate(120deg);

}

i:before{
    -webkit-transform: rotate(240deg);
}


@-webkit-keyframes snowflakes{

    0%{
        -webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
    }

    100%{

        -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);

    };
}

.snowflakes i:nth-child(3n)
{
    width: 16px;
    height: 4px;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 30;
    -webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1){

    width: 24px;
    height: 6px;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: 45;
    -webkit-transform-origin: right -30px;

}

.snowflakes i:nth-child(7n) {
    opacity:.3;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function:ease-in;
  }
  .snowflakes i:nth-child(7n+1) {

    opacity:.4;
    -webkit-animation-delay: 1s;
    -webkit-animation-timing-function:ease-out;

  }
  .snowflakes i:nth-child(7n+2) {

    opacity:.5;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-timing-function:linear;

  }
  .snowflakes i:nth-child(7n+3)
   {
    opacity:.6;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function:ease-in;
  }

  .snowflakes i:nth-child(7n+4)
   {
    opacity:.7;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-timing-function:linear;
  }
  .snowflakes i:nth-child(7n+5)
   {
    opacity:.8;
    -webkit-animation-delay: 3s;
    -webkit-animation-timing-function:ease-out;
  }

  .snowflakes i:nth-child(7n+6) 

  {
    opacity:.9;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-timing-function:ease-in;
  }